.App {
  text-align: center;
  background-image: url(./img/RickAndMortyAPIWallpaper.jpg);
  height: 100%;
}

.btnContainer {
  background-color: black;
  padding: 13px;
  display: flex;
  justify-content: center;
}
.btnPrev {
  margin: 0 15px;
  padding: 0 20px;
  font-weight: bold;
}

.btnNext {
  margin: 0 15px;
  padding: 0 20px;
  font-weight: bold;
}
